html.body {
  height: 100%;
  width: 100%;
  background: #000;
}

.text-center {
  background-color: rgb(12 112 70);

  color: rgb(255, 255, 255);
  text-shadow: #ffffff;
  padding: 9px 12px 0px 96px;
  margin: -14px -6px -56px -15px;
  text-transform: capitalize;
}

.bg-red {
  background-color: rgb(255, 255, 255);
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.item-center {
  text-align: center;
}
.row {
  margin: 7px 0;
}
.row input {
  padding: 14px 2px;
  font-size: 23px;
  margin: 0;
  border: 2px solid rgb(36, 38, 71);
  border-radius: 5px;
  font-weight: 25px;
  background-color: #284e4e;
  color: #ffffff;
}
.A1 {
  background: rgb(214, 208, 26);
  color: #000;
}
.A1 .hover {
  background: rgb(204, 203, 183);
}
.container {
  background: #064664;
  padding-top: 20px;
  margin: 100px 505px 0px 505px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.img {
  box-shadow: #ffffff;
  view-timeline: 23px;
  text-shadow: #ffffff;
}

button {
  padding: 20px;
  margin: 2px 0px 6px 2px;
  border: 2px solid rgb(170, 172, 175);
  border-radius: 40px;
  cursor: pointer;
  font-size: 20px;
  font: bolder;
  font-family: poppins Helvetica, sans-serif;
  background-color: rgb(12, 12, 12);
  color: white;
  width: 72px;
}
p {
  line-height: 20px;
  text-transform: capitalize;
}
#downpic {
  text-align: right;
}
#img {
  align-items: right;
}

.button:hover {
  background-color: rgb(33, 33, 33);
  color: rgb(38, 0, 255);
}
.A1:hover {
  background-color: rgb(205, 195, 59);
  color: rgb(255, 255, 255);
}
